canvas {
    border: 1px solid black;
    direction: ltr;
}
#bibliotheque{
    background-color: bisque;
    height: 350px;
}
span {
    position: sticky;
    display: inline-block;margin-left: 100px ;
}
